### Setup

In [ ]:
import pandas as pd
import numpy as np     # optional - used for some examples

### Simple Series Object

In [ ]:
# Data as a list of integers.
data = [101, 4, 23, 8, 27, -3]
s1 = pd.Series(data)
type(s1)

In [ ]:
# The index is a series of integers starting at zero, by default.
s1

In [ ]:
# If we pass values of different datatypes, pandas will upgrade the datatype to the nearest posible type.
data = [101, 4.3, 5]
s1b = pd.Series(data)
s1b

### Value retrieval / setting

In [ ]:
# The values of the Series.
s1.values

In [ ]:
# The indices of the numpy.ndarray.
s1.index

In [ ]:
# Index based value retrieval.
s1[1]

In [ ]:
# Set value based on index
s1[2] = 404
s1

### Perform operations

In [ ]:
# Calculating the arithmetic average.
s1.mean()

In [ ]:
# Calculate the cumulative sum.
s1.cumsum()

In [ ]:
# Vector multiplication.
s1 * 3

In [ ]:
# Logarithm
np.log(s1)

### Custom indices / labels

In [ ]:
# Create custom labels for random values.
index = ['A', 'B', 'C', 'D', 'E', 'F']
data = np.random.randn(6)
data
s2 = pd.Series(data, index)
s2

In [ ]:
# Meaningful labels to the values and/or the index.
s2.name = 'Price'
s2.index.name = 'Stock'
s2

### Series from a dictionary

In [ ]:
# Series from dictionary is (of course) not ordered. Keys are used for the index.
d = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
s4 = pd.Series(d)
s4

### Slicing

In [ ]:
# Slicing based on index
s4[1:3]

In [ ]:
# Slicing based on labels
s4['four':'three']

### Enumeration

In [ ]:
# looping over collection
for i, v in enumerate(s4):
    print i, v

In [ ]:
# list comprehension
s4b = [x**2 for x in s4]
s4b

### Dict-like behaviour

In [ ]:
# is the key in the series
'four' in s4

In [ ]:
# custom index retrieval
s4['four']

In [ ]:
# custom index assignament
s4['four'] = 999
s4['four']

In [ ]:
# Convert Series to a dictionary (looses order).
d4 = s4.to_dict()
d4

In [ ]:
# ... and back again (only when found a index mapping - type float!)
s4b = pd.Series(d4, index=['one', 'two', 'three', 'six', 'seven'])
s4b

### Munging

In [ ]:
# Boolean query for NaN's
s4nan = s4b.isnull()
s4nan

In [ ]:
# Extract the NaN's from the Series
s4b[s4nan]

In [ ]:
# Drop the NaN's
s4b = s4b.dropna()
s4b

### Tiny exercise

 *  Create Series with squares from -3 to 13. 
 *  Apply logarithm to this data
 *  remove NaN values
 *  Plot data